<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Carousel
          <small> optional captions</small>
        </div>
        <div class="card-body">
          <carousel [interval]="4500">
            <slide>
              <img src="./../../assets/img/app/smiling_children.jpg" alt="First slide" style="display: block; width: 100%; max-width:100%;
              max-height:100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </slide>
            <slide>
              <img src="./../../assets/img/app/teaching_india.jpg" alt="Second slide" style="display: block; width: 100%; max-width:100%;
              max-height:100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img src="https://loremflickr.com/900/500/nature?lock=3" alt="Third slide" style="display: block; width: 100%; max-width:100%;
              max-height:100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
