<div class="animated fadeIn">
  <div class="row">
  </div>
  <!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <h5 class="card-title mb-0">Trending Companies</h5>
          <div class="chart-wrapper" style="height:250px;margin-top:40px;">
            <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
          </div>
        </div>
        <div class="col-sm-6">
          <h5 class="card-title mb-0">Trending Associates</h5>


          <div class="chart-wrapper" style="height:200px;margin-top:40px;">
            <ag-grid-angular class="ag-theme-balham" [enableSorting]="true" [enableFilter]="true" 
              [rowData]="rowDataDef" [columnDefs]="DefColumnDefs"
              [rowSelection]="rowSelection">
            </ag-grid-angular>

          </div>


        </div>

      </div>
      <!--/.row-->
    </div>

    <!--/.card-->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Upcoming Events</strong>
            <small>link</small>
          </div>
          <div class="card-body">
           <table>
              <tr *ngFor="let event of eventList">
                <alert type="info">
                  <td style="width:400px;"><strong><a href="#" class="alert-link">Institution Name: <span style="color: olivedrab;">{{event.schoolName}}, {{event.address}}</span></a></strong></td> 
                  <td style="width:400px;"><strong><a href="#" class="alert-link">Event Type: <span style="color: olivedrab;">{{event.eventType}}</span></a></strong></td>
                  <td style="width:400px;"><strong><a href="#" class="alert-link">Date: <span style="color: olivedrab;">{{event.eventDate}}</span></a></strong></td>
                </alert>
              </tr>
            </table>
              <!-- <alert type="info">
            <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not
            super important.
          </alert>
          <alert type="warning">
            <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too
              good</a>.
          </alert>
          <alert type="danger">
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting
            again.
          </alert> -->
          </div>

        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>