// Here you can add other styles
.app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img {
    height: 22px;
    margin: 0 10px;
}

.app-header {
    height: 70px;
}

.sidebar .nav {
    padding-top: 60px;
}

h4, .h4 {
    text-align: center;
    color: #ffffff;
}

.card-header {  
    background-color: #252524;
    
}

.carousel {
    position: relative;
    height: 200px;
}

.ml-auto, .mx-auto {
    margin-left: inherit;
}

.ag-root-wrapper-body.ag-layout-normal {
    height: 180px;
}

.ag-theme-balham .ag-root {
    border: 3px solid rgb(4, 29, 46);
}

strong {
    font-weight: bolder;
    color: white;
}

.row_request {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -350px;
}