<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row_request_sr">
        <div class="col-md-6s">
          <div class="card mx-4">
            <div class="card-body p-4sr">
              <div class="card-header p-2">
                <h4>Request History</h4>
              </div>
              <button (click)="onBtnExport()">Export to Excel</button>
              <div class="chart-wrapper" style="height:200px;margin-top:40px;">
                <ag-grid-angular #agGrid class="ag-theme-balham" id="myGrid" [enableSorting]="true" [enableFilter]="true" 
                  [rowData]="rowDataDef" [columnDefs]="DefColumnDefs"
                  [rowSelection]="rowSelection" [pagination]="true"  [showToolPanel]="true"
                  [rowSelection]="rowSelection"
                  [pinnedTopRowData]="pinnedTopRowData" (gridReady)="onGridReady($event)">
                </ag-grid-angular>
    
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>